# Airbnb Calendar Data - EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/calendar.csv')

In [3]:
df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,109,2023-09-04,f,$129.00,$129.00,30.0,730.0
1,109,2023-09-05,f,$129.00,$129.00,30.0,730.0
2,109,2023-09-06,f,$129.00,$129.00,30.0,730.0
3,109,2023-09-07,f,$129.00,$129.00,30.0,730.0
4,109,2023-09-08,f,$129.00,$129.00,30.0,730.0
...,...,...,...,...,...,...,...
16276420,972398639579333846,2024-08-29,f,$425.00,$425.00,5.0,90.0
16276421,972398639579333846,2024-08-30,f,$425.00,$425.00,5.0,90.0
16276422,972398639579333846,2024-08-31,f,$425.00,$425.00,5.0,90.0
16276423,972398639579333846,2024-09-01,f,$425.00,$425.00,5.0,90.0
16276424,972398639579333846,2024-09-02,f,$425.00,$425.00,5.0,90.0

In [5]:
df[df['listing_id'] == 109][0:30]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,109,2023-09-04,f,$129.00,$129.00,30.0,730.0
1,109,2023-09-05,f,$129.00,$129.00,30.0,730.0
2,109,2023-09-06,f,$129.00,$129.00,30.0,730.0
3,109,2023-09-07,f,$129.00,$129.00,30.0,730.0
4,109,2023-09-08,f,$129.00,$129.00,30.0,730.0
5,109,2023-09-09,f,$129.00,$129.00,30.0,730.0
6,109,2023-09-10,f,$129.00,$129.00,30.0,730.0
7,109,2023-09-11,f,$129.00,$129.00,30.0,730.0
8,109,2023-09-12,f,$129.00,$129.00,30.0,730.0
9,109,2023-09-13,f,$129.00,$129.00,30.0,730.0
10,109,2023-09-14,f,$129.00,$129.00,30.0,730.0
11,109,2023-09-15,f,$129.00,$129.00,30.0,730.0
12,109,2023-09-16,f,$129.00,$129.00,30.0,730.0
13,109,2023-09-17,f,$129.00,$129.00,30.0,730.0
14,109,2023-09-18,f,$129.00,$129.00,30.0,730.0
15,109,2023-09-19,f,$129.00,$129.00,30.0,730.0
16,109,2023-09-20,f,$129.00,$129.00,30.0,730.0
17,109,2023-09-21,f,$129.00,$129.00,30.0,730.0
18,109,2023-09-22,f,$129.00,$129.00,30.0,730.0
19,109,2023-09-23,f,$129.00,$129.00,30.0,730.0
20,109,2023-09-24,f,$129.00,$129.00,30.0,730.0
21,109,2023-09-25,f,$129.00,$129.00,30.0,730.0
22,109,2023-09-26,f,$129.00,$129.00,30.0,730.0
23,109,2023-09-27,f,$129.00,$129.00,30.0,730.0
24,109,2023-09-28,f,$129.00,$129.00,30.0,730.0
25,109,2023-09-29,f,$129.00,$129.00,30.0,730.0
26,109,2023-09-30,f,$129.00,$129.00,30.0,730.0
27,109,2023-10-01,f,$129.00,$129.00,30.0,730.0
28,109,2023-10-02,f,$129.00,$129.00,30.0,730.0
29,109,2023-10-03,f,$129.00,$129.00,30.0,730.0